*,
*::before,
*::after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    display: flex;
    justify-content: space-around;
    max-width: 980px;
    width: 90%;
    margin: 0 auto;
    /*outline: 3px solid magenta;*/
}

.hero-images{
    width: 50%;
}

.hero{
    width: 45%;
}

.small-imgs{
    display: flex;
    justify-content: space-between;
    /*outline: 2px solid red;*/
}

.small-img{
    width: 20%;
}